*{
    margin: 0px;
    padding: 0px;
}
.myName{
    display: flex;
    justify-content: center;
    text-align: center;

}
.myPhoto{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;

}
.Bikash{
    width: 500px;
} 
.Typing{
    height: 50vh;
    display: flex;
    justify-content: center;
    /* text-align: center; */

}
.Typing h1{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
}
.typed-text{
    font-weight: normal;
    color: green;

}
.cursor{
    display: inline-block;
    width: 3px;
    background-color: black;
    margin-left: 0.15rem;
    animation: blink 1s infinite;

}
@keyframes blink{
    0%{
        background-color: black;
    }
    10%{
        background-color :transparent;
    }
    20%{
        background-color: black;
    }
    30%{
        background-color: transparent;
    }
    40%{
        background-color: black;
    }
    50%{
        background-color: transparent;
    }
    60%{
        background-color: black;
    }
    70%{
        background-color: transparent;
    }
    80%{
        background-color: black;
    }
    90%{
        background-color: transparent;
    }
    100%{
        background-color: black;
    }
}
.cursor .typing{
    animation: none;
}