* {
    margin: 0px;
    padding: 0px;
}

.margin {
    margin-top: 20px;
    text-align: justify;
}

.Email {
    margin-top: 10px;
}

.Github {
    max-width: 300px;
    max-height: 300px;
}

.linkedIn {
    max-width: 300px;
    max-height: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.whatsapp {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    padding: 30px 30px;
}

.facebook {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    padding: 30px 30px;
}

.telegram {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    padding: 30px 30px;
}

.instagram {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    padding: 30px 30px;
}

.twitter {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    padding: 30px 30px;
}